body {
  margin: 0px;
}
#welcome-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #c94218;
}
#welcome-section h1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#welcome-section p {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  opacity: 1;
  z-index: 999;
}
.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #445;
}
.navlist li {
  float: left;
  border-right: 0.5px solid white;
  color: white;
}
.navlist a {
  display: block;
  text-decoration: none;
  color: #000;
  color: #eee;
  padding: 10px 35px;
}
#projects {
  margin: 0;
  padding: 50px 0 70px 0;
  width: 100vw;
  background: url(https://www.transparenttextures.com/patterns/brushed-alum-dark.png);
}
.project_flexbox_container {
  display: flex;
  justify-content: space-around;
}
.project-tile {
  background-color: #f0f0f0;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  height: 350px;
  width: 250px;
  border: 2px solid #000;
  border-radius: 5px;
  overflow: hidden;
}
.project-tile img {
  margin: 0;
  padding: 0;
  width: 350px;
  height: auto;
}
.projects_header {
  text-align: center;
  padding: 50px 0;
  margin: 0;
}
.project_description h2 {
  width: 80%;
  text-align: center;
  font-style: normal;
  font-family: "Times New Roman", san-serif, Arial;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
  border: solid 1px black;
  border-radius: 5px;
}
.project_description h2:hover {
  width: 80%;
  text-align: center;
  font-family: "Times New Roman", san-serif, Arial;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 0;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
}
.project_description h2 a:hover {
  color: blue;
}
h2 a {
  display: block;
  color: black;
  text-decoration: none;
}
.project_description p {
  margin: 0;
  padding: 0 10px 7px 10px;
  text-align: left;
  font-style: normal;
}
.project_link {
  padding: 25px 35px;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.links h2 {
  font-style: normal;
}
.links {
  text-align: center;
  background-color: #ef2d56;
  padding: 100px 0;
}
.links a {
  padding: 0 20px 0 20px;
}
@media (max-width: 501px) {
  .navlist {
    display: block;
  }
  .project_flexbox_container {
    display: block;
  }
  .project-tile {
    margin: auto;
    margin-top: 10px;
  }
  .links a {
    padding: 0 10px 0 10px;
  }
  .navlist {
    background-color: white;
  }
  .navlist li {
    float: none;
    text-align: center;
    padding: 2px 0;
    margin: 1px 0 1px 0;
    background-color: #445;
  }
}
